.contact-profile img{
  height:80vh;
  border-radius: 10px;
  margin-left: 20px;
}

.form-container {

    background-color: #f2f5fdec;
    border-radius: 40px;
    padding: 60px 40px;
    width: 100%;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    margin: 20px;

  
}
.form-container input{
    width: 80%;
    padding: 5px 5px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    /* background: transparent; */
    border-bottom: 2px solid rgb(188, 226, 19);
    caret-color: rgb(255, 81, 0);
    background-color: rgb(255, 255, 255);

}

.form-container input:focus {

  color: white;
  background: black;
  font-size: 20px;
  border: 2px solid black;
  box-shadow: 0 8px 32px 0 rgba(143, 149, 226, 0.3);
  transition: .3s ease-in-out;
}

@media(max-width:768px){

    .contact-profile img{
        height:40vh;
        border-radius: 15px;
        margin-left: 20px;
        
      }
      .contact-heading h2,h3,h4 {
        margin-top: 35px;
        font-size: 20px;
        text-align: center;
      }
      .form-container {
        padding: 60px 20px;
        width: 100%;
        margin: 0px;
    
      }
      .contact-form h3{
      text-align: center;
      padding: 5px 0px;
     
      }
}
